body {
    background: #3A3A3A;
}
.logo {
    margin: 24px 0 16px 24px;
    height: 84px;
    width: 591px;
}
/* Text stylings */
.darktext {
    color: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.footertext {
    color: #dbdbdb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.6rem;
}
.navtext {
    color: #dbdbdb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.6rem;
}