/* IMPORTING MONTAGU SLAB, AMARANTH AND ROBOTO CONDENSED */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Montagu+Slab:wght@300&family=Roboto+Condensed:wght@300&display=swap');

/* Hoved elementer */
body {
    color: #dbdbdb;
    margin: 0;
    background-image: url("../img/svg/nisser-bkg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amaranth', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
img {
    width: 100%;
}

/* LOGO Styling */
.logo {
    margin: 24px 0 16px 24px;
    width: 600px;
}

/* Navigation */
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.top-nav,
.nav-ul {
    display: flex;
    justify-content: space-between;
}
/* Styling of button */
#toggleSnowBtnOn {
    background-color: transparent;
    border: none;
    color: white;
    height: 60px;
}
.nav-li a, #toggleSnowBtnOn {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.nav-li a:hover, #toggleSnowBtnOn:hover {
    background-color: #111;
}

.nav-li a.active {
    background-color: black;
}


/* Text stylings */
.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}
.font-montagu {
    font-family: 'Montagu Slab', serif;
}
.darktext {
    color: #252525;
    font-size: 1.2rem;
}
.whitetext {
    color: #dbdbdb;
    font-size: 1.2rem;
}

/* Footer Text */
.footertext {
    font-size: 0.92rem;
    color: #fff;
    text-align: center;
}

.navtext {
    font-size: 2.6rem;
}

/* CENTERING H1 TEXT - DARK */
.centerh1 {
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-size: 2.5rem;
    color: #dbdbdb;
    text-shadow: 1px 1px;
}


/* LINK STYLINGS */
a.atd:hover {
    text-shadow: 1px 1px;
    color: #dbdbdb;
    font-size: 1.2rem;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
}
a.atd:link {
    color: #dbdbdb;
    font-size: 1.2rem;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
}
a.atd:visited {
    color: #dbdbdb;
    font-size: 1.2rem;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
}
a.atd {
    color: #dbdbdb;
    font-size: 1.2rem;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
}

/* Styling of Divs 
 * wrapper/container systemet er enkelt, utvidbart og responsivt: en usynlig div fulgt: basic-style div, fulgt av: extra-styling-klasse(r) f.eks: .col-dark
*/
main {
    width: 95%; /* for wrappers/containers er dette ett kort alternativ til: margin: xx xx xx xx;*/
    max-width: 1800px; /* denne sammen med margin: 0 auto; sørger for at content er i midten */
    margin: 0 auto;
}
.cols { /* (usynlig) hoved wrapper */
    display: flex;
    align-items: flex-start; /* pusher cols til toppen */
    flex-wrap: wrap; /* automatisk linebreaks ved overflow */
    justify-content: space-between; /* lager margins ved behov */
    min-width: 320px;
}
.col { /* (synlig) wrapper med basic styling */
    padding: 0 2em 2em;
    background-color: rgba(104, 0, 0, 0.6); /* default red, legg til farge class for å endre */
    border-radius: 48px;
    -webkit-box-shadow: 0px 8px 8px 8px #252525;
    box-shadow: 0px 8px 8px 8px #252525;
    margin: 0 auto 40px;
    width: 100%;
}
.col-side { /* (usynlig) side-wrapper */
    display: flex;
    align-items: flex-start;
    flex-wrap: inherit;
    justify-content: center;
    width: 20%;
    min-width: 320px;
    flex-direction: row;
    margin: 0 auto 40px;
}
/* stil utvidelser for wrappers */
.col-dark {
    background-color:rgba(0,0,0,0.6);
}
.col-90 {
    width: 90%;
}
.col-80 {
    width: 80%;
}
.col-70 {
    width: 70%;
}
.col-45 {
    width: 45%;
}
.col-20 {
    width: 20%;
}
/* extra wrapper */
.flex-container{
    display: flex;
    margin: 4px 32px 32px 32px;
    padding: 8px;
}

/*  */
/* fjosnisse.html */
/*  */
#fjosnisse {
    background: radial-gradient(#754545, #101515);
}

/*  */
/* lussi.html */
/*  */
#lussi {
    margin: 0;
    background-image: url("../img/lussinight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lussi-text1-quote {
    text-align: center;
    color: red;
}

.lussi-text-top {
    display: flex;
   
}

.kilder a {
    color: #dbdbdb;
}

.kilder a:hover, a:focus{
    color: teal;
}


/*  */
/* kontakt.html */
/*  */
.kontakt-form {
	text-align: center;
}
.kontakt-container {
    display: flex;
    flex-direction: column;
}
/* Kontakt */
.kontakt-text h2 {
    font-size: 36px;
    margin: 0;
}
.kontakt-text h3 {
    font-size: 24px;
    margin: 0;
}
.kontakt-text hr {
    width: 50%;
    height: 2px;
    border-width: 0;
    color: grey;
    background-color: black;
}
.kontakt-text p {
    text-align: center;
}
.kontakt-form input[type="text"],
.kontakt-form input[type="date"],
.kontakt-form input[type="datetime"],
.kontakt-form input[type="email"],
.kontakt-form input[type="number"],
.kontakt-form input[type="search"],
.kontakt-form input[type="time"],
.kontakt-form input[type="url"],
.kontakt-form textarea,
.kontakt-form select 
{	/*Border fade in*/
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: rgb(230, 230, 230);
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	resize: none;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.kontakt-form input[type="text"]:focus,
.kontakt-form input[type="date"]:focus,
.kontakt-form input[type="datetime"]:focus,
.kontakt-form input[type="email"]:focus,
.kontakt-form input[type="number"]:focus,
.kontakt-form input[type="search"]:focus,
.kontakt-form input[type="time"]:focus,
.kontakt-form input[type="url"]:focus,
.kontakt-form textarea:focus,
.kontakt-form select:focus
{
	background-color: #fff;
	border: 1px solid rgb(255, 0, 0);
}
.kontakt-form input[type="submit"],
.kontakt-form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	padding: 3%;
	background: black;
	border: none;
	color: #fff;
	border-radius: 50px;
}
.kontakt-form input[type="submit"]:hover,
.kontakt-form input[type="button"]:hover{
	background: rgb(255, 255, 255);
    color: black;
}
.icon {
	text-align: center;
	min-width: 50px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 5%;
}
.kontakt-body {
	background-color: rgba(104, 0, 0, 0.6);
	color: white;
	width: fit-content;
    border-radius: 48px;
    margin: auto;
    padding: 8px;
    -webkit-box-shadow: 0px 8px 8px 8px #252525;
    box-shadow: 0px 8px 8px 8px #252525;
}

/* EASTER EGG */
.hide {
    display: none;
}
.easteregg:hover + .hide {
    display: block;
    position: fixed;
}
