body {
    color: #dbdbdb;
    margin: 0;
    background-image: url("../img/svg/nisser-bkg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* LOGO Styling */
.logo {
    margin: 24px 0 16px 24px;
    width: 591px;
}

/* Navigation */
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.top-nav,
.nav-ul {
    display: flex;
    justify-content: space-between;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #111;
}

.nav-li a.active {
    background-color: black;
}

/* Text stylings */
.darktext {
    color: #252525;
    font-size: 1.2rem;
}

.footertext {
    font-size: 0.6rem;
}

.navtext {
    font-size: 2.6rem;
}

/* Styling of Divs */
.mainbody {
    background: #c4c4c4;
    color: #3a3a3a;
    border-radius: 48px;
    display: flex;
    margin: 4px 32px 32px 32px;
    padding: 8px;
    -webkit-box-shadow: 0px 8px 8px 8px #252525;
    box-shadow: 0px 8px 8px 8px #252525;
}


/* Lussi */
#lussi {
    background-image: url("../img/lussinight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-lussi {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin: 100px auto;
    padding: 50px;
     
    
    


}



.lussi-text1,
.lussi-text2,
.lussi-text3 {
    background-color: rgba(104, 0, 0, 0.6);
    letter-spacing: 0.1em;
    padding: 5px 20px;
    border-radius: 45px;


}

.lussi-text2,
.lussi-text3 {
    background-color: rgba(0, 0, 0, 0.6);

}

.lussi-text2{
    margin-bottom: 160px;
}
